body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 50px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
 {
     max-width: 800;
    padding-top: 50px;
   text-align: center;
    color: gray;
    padding-left: 50;
    padding-right: 20;
  
            
}
